<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Test Application</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/guest-book']">Guest Book</a></li>
        <li><a [routerLink]="['/states']" >States</a></li>
      </ul>
      <ul class="nav navbar-right">
            <li><a href="#" (click)="Logout($event)">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
